body {
    padding-top: 63px;
}

header .navbar-inverse a.navbar-brand {
    padding: 6px;
    color: #325d88;
}

header .navbar-inverse a.navbar-brand:hover {
    color: #244363;
}

.fa.fa-green {
    color: #93c54b;
}

.header-home {
    background-image: url('../images/header_home.jpg');
    background-size: cover;
    min-height: 500px;
    margin-bottom: 20px;
}

.header-home .jumbotron {
    margin-top: 20px;
    padding: 20px;
    background-color: rgba(248, 245, 240, 0.4);
}

footer.site-footer {
    padding: 40px 0;
    color: #999;
    text-align: center;
    background-color: #f9f9f9;
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
}

.last-books .thumbnail {
    height: 450px;
}

.last-books .thumbnail img {
    height: 250px;
}

.last-books .thumbnail h3 {
    font-size: 20px;
}

.last-books .thumbnail .book-infos {
    margin-bottom: 10px;
}

#map-books {
    height: 400px;
    width: 100%;
}
footer.site-footer{margin-top: 0px;}
.content-error{position:relative;top: 15%;}
@keyframes thomas{0%{right: -332px;transform: rotate(0deg);margin-right: 0px;}25%{margin-right: 115px;right: -332px;transform: rotate(-70deg);}50%{margin-right: 0px;-332px;transform: rotate(0deg);}100%{right: calc(100% + 332px);}}

.error img#thomas{animation:thomas 5s 1.5s ease-in-out infinite;}

.error{text-align: center;width: 100%;margin: auto;height: calc(100vh - 164px);position:relative;overflow: hidden;}
.error img{position: absolute;bottom: 0px;right: -332px;}
